<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my-task-list</title>
</head>
<body>
    <h2>hello world</h2>
</body>
</html> -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Client</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script>
  System.import('src/app').catch(function(err){console.log('this is err'+err);});
  </script>
</head>
<body>
  <app-root>Loading...</app-root>
</body>
</html>
